<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="Shortly the URL shortener!">

    <title>Shortly</title>

    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}"/>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/octicons.css') }}"/>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/pure.min.css') }}"/>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Raleway:200"/>

    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.qrcode-0.12.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/clipboard.min.js') }}"></script>


    <script type="text/javascript" language="javascript">
       $(document).ready(function() {
          var clipboard = new Clipboard('.clip-button');

          $('form input').change(function(e) {
              $('#short-url').hide();
              $('#short-url a').remove();
              $('#qrcode').empty();
          });

          console.log($('form').serialize());
          $('form button').click(function(event){

              if ($('#short-url a').length == 0) {
                  $.ajax({
                          url: '/shorten',
                          data: $('form').serialize(),
                          type: 'GET',
                          success: function(response) {
                              console.log(response);
                              var link = "http://{{ request.host }}/" + response;
                              $('#short-url').prepend("<a href=" + link + ">" + link + "</a>");
                              $('#short-url').toggle();
                              $('#qrcode').qrcode({
                                  "size": 100,
                                  "color": "#3a3",
                                  "text": link
                              });
                          },
                          error: function(error) {
                              console.log(error);
                          }
                      });
              }
          });
          $(document).keypress(function(e) {
              if(e.which == 13) {
                  e.preventDefault();
                  $('form button').click();
              }
          });
       });
    </script>
</head>

<body>
<div id="main">

    <div class="header">
            <h1><a href="/">Shortly</a></h1>
                <h2>Convert a long URL link to a short form</h2>
                  
        <form class="pure-form">
            <fieldset>
                <input type="url" name="url" placeholder="URL">
                <button type="button" class="pure-button pure-button-primary">Shorten</button>
            </fieldset>
        </form>


        <div id="short-url" style="display:none; font-weight: bold">
            <button class="octicon octicon-clippy clip-button pure-button" data-clipboard-target="#short-url">
            </button>
        </div>
        <div style="margin: 1em" id="qrcode"></div>

        </div>
    </div>

</div>
</body>
</html>
